*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
section{
    width: 400px;
    margin: 60px auto;
    background-color: rgb(28, 19, 19);
    padding: 30px 0;
    border-radius: 40px;
    
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.w-1{
    width: 100%;
}
.w-2{
    width: 50%;
}
.w-4{
    width: 25%;
}
h5{
    color: white;
    font-size: 25px;
}
#input{
    text-align: end;
    width: 100%;
    margin:20px 0;
    border: none;
    border-radius: 20px;
    padding: 40px 20px 0 20px;
    outline: none;
    background-color: transparent;
    font-size: 25px;
    color: white;
}
#input::-webkit-scrollbar{
    display: none;
}
button{
    padding: 25px;
    background-color: transparent;
    justify-content: space-around;
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
}
button:hover{
    background-color: lightgreen;
}
.del img{
    width: 17px;
}
.ans{
    background-color: lightgreen;
    color: black;
}